$base-font-size:          20px;
$base-line-height:        30px;

/*------------------
  Grid Settings
-------------------*/

$rowWidth : 800px;
$gutterWidth: 8px;
$noOfColumns : 8;
$isResponsive : true;