// static css classes of the project here ..


.left {
	float:left;
}
.right {
	float:right;
}
.bold {
	font-weight:bold;
}
.marginTop-div {
	margin-top:20px;
}
.text-right {
	text-align:right;
}
.text-center {
	text-align:center;
}
.text-left {
	text-align:left;
}